html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, button, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, input, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: none repeat scroll 0 0 transparent;
  font-size: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: inherit;
  list-style: none outside none;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  line-height: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

input, button {
  outline: none; }

html, body {
  height: 100%; }

body {
  overflow: hidden; }
  body * {
    box-sizing: border-box;
    overflow: hidden;
    overflow: inherit;
    text-align: inherit; }

nav {
  width: 60px;
  height: inherit;
  position: absolute;
  overflow: visible;
  top: 0; }

#mainWrapper {
  width: 80%;
  margin: 0 auto;
  height: inherit; }
  #mainWrapper > * {
    float: left;
    overflow-y: scroll;
    padding: 20px 5px 30px 5px;
    height: inherit; }

#summaryChart {
  width: 200px; }
  #summaryChart > * {
    padding: 5px 0; }

#mainChart {
  width: calc(100% - 200px); }

.verticalPanel {
  height: 100%; }

#chatPanel {
  width: 300px; }

#authorsPanel {
  width: 250px;
  position: relative; }

.authorPanelDetails {
  float: left;
  width: 100%;
  display: none;
  padding: 10px 15px; }

#rightSlide {
  position: absolute;
  right: 0;
  top: 0; }
  #rightSlide .verticalPanel {
    display: none;
    float: right; }
    #rightSlide .verticalPanel > * {
      display: none; }
    #rightSlide .verticalPanel .mainList {
      height: calc(100% - 50px); }
  #rightSlide ul {
    overflow-y: auto !important; }
  #rightSlide .auxPanel {
    height: 200px; }
  #rightSlide nav {
    float: left;
    position: relative; }
  #rightSlide header {
    height: 50px;
    padding: 5px 10px;
    position: relative; }
    #rightSlide header .button {
      position: absolute;
      right: 5px;
      bottom: 5px; }

body {
  background-color: #F0F2EB;
  font-family: "Open Sans", sans-serif;
  font-size: 12px; }
  body * {
    transition: background-color 0.3s, border 0.3s; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 16px; }

h3 {
  font-size: 13px; }

h4 {
  font-size: 11px; }

p {
  color: #BBB; }

::-webkit-scrollbar {
  width: 2px; }

::-webkit-scrollbar-thumb {
  background-color: #DDD;
  border-radius: 2px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #BBB; }

.whitePanel {
  background-color: white;
  border: 1px solid #DDD; }

#summaryChart {
  border-right: 1px solid #DDD; }
  #summaryChart > * {
    border-top: 1px solid #DDD; }
  #summaryChart > *:last-child {
    border-bottom: 1px solid #DDD; }

.verticalNavBar {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  padding: 5px; }

.circleButton {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  border-radius: 21px;
  box-shadow: 0 5px 10px -5px #DDD;
  margin: 15px auto; }
  .circleButton:hover {
    background-color: #F5F5F5;
    border-color: #FF4242; }

.active {
  border-color: #FF4242; }

.popover {
  left: 120%;
  transform: translateY(-75%);
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 5px 10px -5px #DDD;
  padding: 15px;
  width: 200px !important;
  height: auto !important;
  cursor: auto;
  display: none; }
  .popover .button {
    width: 100%; }

#rightSlide .verticalPanel {
  border-top: none;
  border-bottom: none;
  border-right: none;
  box-shadow: -5px 0 10px -5px #DDD;
  background-color: #EEE; }
#rightSlide .auxPanel {
  border-bottom: 1px solid #DDD; }
#rightSlide header {
  background-color: white;
  border-bottom: 1px solid #DDD; }
#rightSlide h2 {
  text-transform: uppercase; }

#authorsPanel {
  background-color: #EEE; }

.authorPanelDetails {
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 5px 10px -5px #DDD; }

.message {
  width: 80%;
  position: relative;
  padding: 10px 30px 10px 10px;
  margin: 5px;
  float: left;
  box-shadow: 0 5px 10px -5px #DDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .message .messageDateDetail {
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 3px;
    color: #BBB; }

.beginningMessage {
  border-color: #54f582; }

.ownMessage {
  float: right;
  background-color: #DCF8C6; }

.dateSticker {
  width: auto;
  max-width: 35%;
  background-color: #b3b3ff;
  padding: 2px 10px;
  margin: 5px auto;
  color: white;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  box-shadow: 0 5px 10px -5px #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.listElementPanel {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer !important;
  float: left;
  padding: 5px 5px;
  border-bottom: 1px solid #DDD;
  background-color: white;
  box-shadow: 0 5px 10px -5px #DDD; }
  .listElementPanel:hover {
    background-color: #fafafa; }

.keywordPanel {
  cursor: auto !important;
  position: relative;
  padding-right: 60px; }
  .keywordPanel .button {
    display: none;
    position: absolute !important;
    right: 5px !important;
    top: 10px !important;
    font-size: 8px !important; }
  .keywordPanel .tertiaryButton {
    display: block; }

.excludedKeyword {
  background-color: #fafafa;
  color: #ABABAB; }
  .excludedKeyword .button {
    display: block; }
  .excludedKeyword .tertiaryButton {
    display: none; }

.authorPanel {
  height: 60px; }
  .authorPanel h3, .authorPanel p {
    float: left;
    margin-left: 65px; }
  .authorPanel svg {
    height: inherit;
    width: 60px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #F5F5F5; }

.icon {
  width: 70%;
  height: 70%;
  margin: 15%;
  overflow: hidden; }

.dotActive {
  background-color: #54f582;
  zoom: 120%; }

.button {
  cursor: pointer;
  text-align: center;
  border-width: 2px; }

.regularButton {
  padding: 5px 10px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: #54f582;
  border: 1px solid #3cf470;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .regularButton:hover {
    background-color: #4af47b; }

.secondaryButton {
  background-color: #FF4242;
  border: 1px solid #ff2828;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .secondaryButton:hover {
    background-color: #ff3838; }

.tertiaryButton {
  background-color: #F0F2EB;
  border: 1px solid #e4e8dc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .tertiaryButton:hover {
    background-color: #ebeee5; }

#fileInputButtonHidden {
  display: none; }

#lightBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(240, 242, 235, 0.95); }

.overAll {
  z-index: 200; }

.redLink {
  color: #FF4242;
  font-weight: bold; }

.popup {
  width: 350px;
  height: 250px;
  top: 20%;
  position: relative;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 10px -5px #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center; }
  .popup h1 {
    text-transform: uppercase; }
  .popup p {
    margin: 10px; }
  .popup .regularButton {
    width: 80%;
    padding: 10px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto; }

/*# sourceMappingURL=main.css.map */
